@{
  Layout = "_Layout";
}
<div class="container">
  <h2>Add A New Order</h2>
  <div class="well">
    <h4>New Order Details:</h4>
    <form action="/vendors/@Model.Id/orders"  method="post" >
      <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
      <label for="orderDay" > Enter the Day for the Order  </label>
      <input type="text" name="orderDay" id="orderDay" required>
      <label for="bread"> Enter the number of loaves of bread: </label>
      <input type="number" name="bread" id="bread" required>
      <label for="pastry"> Enter the total number of pastries: </label>
      <input type="number" name="pastry" id="pastry" required>
      <button type="submit"> Submit </button>
    </form> 
  </div>
</div>