@{
  Layout = "_Layout";
}
@using BakeryVendors.Models;

<div class ="container">

  <h2>Add a New Vendor</h2>
  <div class = "well">
    <p>Add a vendor here: </p>

    <form action="/vendors" method=post>
      <label for="vendorName" > Enter the Business Name </label>
      <input type="text" name="vendorName" required>
      <label for="vendorPhone"> Enter a Phone Number </label>
      <input type="number" name="vendorPhone" required>
      <label for="contactName" > Enter A Contact Name: </label>
      <input type="text" name="contactName" placeholder="Optional">
      <label for="businessType"> What Type of Business? </label>
      <input type="text" name="businessType" placeholder="Optional">
      <label for="email"> Enter an Email Address: </label>
      <input type="email" name="email" placeholder="Optional">
      <button type="submit">Add New Vendor</button>
    </form>
  </div>
<p><a href="/">Back Home</a></p>
<p><a href="/vendors">Back to Vendors</a></p>

</div>