@{
  Layout = "_Layout";
}
<div class="container">
  <h2>Welcome, Pierre!  Manage Your Vendors and Orders Here:</h2>
  <div class="well">
    <p><a href="/vendors">View Vendors<a></p><br>
    <p><a href="/vendors/new">Add New Vendor<a></p>
  </div>
</div>